<div class="wrapper">
  <app-nav 
  [selectedNodeType]="selectedNodeType"
  [selectedAlgorithm]="selectedAlgorithm"
  [visualizeStatus]="visualizeStatus"
  (selectedNodeTypeEmitter)="selectedNodeType = $event"
  (selectedAlgorithmEmitter)="selectedAlgorithm = $event"
  (resetEmitter)="resetGrid()"
  (startEmitter)="visualizeAlgorithm()"
  (cleanEmitter)="cleanGrid()"
  ></app-nav>
  <div class="header">
    <h1>Pathfinding visualizer by Ken Bostoen {{visualizeStatus}}</h1>
  </div>

  <div class="wrapper" [style.width.px]="width * COLUMNS">
    <tr *ngFor="let row of grid.nodes" class="row">
      <td
        *ngFor="let node of row"
        [class]="'node ' + node.nodeStatus"
        [style.width.px]="width"
        [style.height.px]="height"
        (mousedown)="mouseDown(node, $event)"
        (mouseenter)="mouseEnter(node, $event)"
        (mouseleave)="mouseLeave(node, $event)"
      ></td>
    </tr>
  </div>
</div>
