.node {
  border: 1px solid black;
  transition: all .4s ease-in;
}

.wrapper {
  margin: 0 auto;
}

.FINISH {
  background-image: url("../../assets/end.png");
  background-size: cover;
}
.START {
  background-image: url("../../assets/start.png");
  background-size: cover;
}
.VISITED {
  background-color: lightgreen;
  -webkit-transition: background-color 800ms linear;
  -ms-transition: background-color 800ms linear;
  transition: background-color 800ms linear;
}
.WALL {
  background-color: #34495e;
}
.SOLUTION {
  background-color: #8caed1;
}
.WEIGHTED {
  background-color: lightgray;
  background-image: url("../../assets/weight.svg");
  background-size: cover;
}
.header {
  text-align: center;
}
.start-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px;
}
.reset-button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 30px;
}
.selectedNodeButton {
  margin: 5px;
}
.nodeSelector {
  border: black 1px solid;
  width: 200px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: white;
}
.nodeSelector div {
  cursor: pointer;
}
.selected {
  border: red 3px solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.weightIcon {
  max-width: 100%;
  max-height: 100%;
}
